@charset "UTF-8";
/* Base */
/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

:root {
  --container-width: 1210px;
  --container-padding: 15px;
  --font-family: "Intro Book", sans-serif;
  --second-family: "Intro Regular", sans-serif;
  --third-family: "Intro Bold", sans-serif;
  --bg: #484283;
  --accent: #f14f4f;
  --text-color-light: #fff;
  --text-color-main: #444b58;
  --small-text: #dbbba9;
  --sec-bg: #fff4ee;
  --gray: #b2b5bb;
  --border-radius-filter: 4px;
}

.dark {
  --page-bg: #252526;
  --text-color: #fff;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body {
  color: var(--text-color-main);
  background-color: var(--bg) !important;
  font-family: var(--font-family) !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.button {
  border-radius: 4px;
  padding: 22px 47px;
  font-family: var(--second-family);
}

.button--accent {
  background: var(--accent);
}

img {
  display: block;
}

.footer {
  margin-top: auto;
}

.title-1 {
  font-family: var(--second-family) !important;
}

.title-2 {
  font-family: var(--third-family) !important;
  font-weight: 700;
  font-size: clamp(1.5rem, 1.364rem + 0.68vw, 1.875rem);
}

.title-4 {
  font-size: clamp(1rem, 0.818rem + 0.91vw, 1.5rem);
}

.none {
  display: none !important;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.no-scroll {
  overflow-y: hidden;
}

.hidden {
  display: none !important;
}

.container {
  padding: 0 var(--container-padding) !important;
  max-width: var(--container-width) !important;
  margin: 0 auto !important;
}

.container-right {
  /* overflow-x: hidden; */
  padding-left: calc((100% - var(--container-width)) / 2 + var(--container-padding));
}
@media (max-width: 1229px) {
  .container-right {
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
  }
}

.container-left {
  /* overflow-x: hidden; */
  padding-right: calc((100% - var(--container-width)) / 2 + var(--container-padding));
}
@media (max-width: 1229px) {
  .container-left {
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
  }
}

/* Blocks */
.logo {
  font-family: var(--third-family);
  font-weight: 700;
  font-size: clamp(1.563rem, 1.449rem + 0.57vw, 1.875rem);
  color: var(--text-color-light);
}

.nav-link__icon {
  width: 20px;
  height: 18px;
  background-image: url("./../assets/img/header/cart.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.header-bottom {
  padding: 100px 0;
  position: relative;
}
.header-bottom ::before {
  content: "SneakMax";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: var(--third-family);
  font-weight: 700;
  font-size: clamp(2.5rem, -1.136rem + 18.18vw, 12.5rem);
  color: rgba(255, 255, 255, 0.02);
  white-space: nowrap;
  pointer-events: none;
  z-index: -10; /* Убедитесь, что основной контент выше этого слоя */
}
@media (max-width: 630px) {
  .header-bottom ::before {
    display: none;
  }
}
.header-bottom-content {
  max-width: 580px;
}
.header-bottom .button:hover {
  opacity: 0.8;
  background: var(--accent) !important;
}

.catalog-filter-content {
  background: var(--sec-bg);
}

.filter-parameter {
  font-weight: 700;
}

.filter-price-inputs {
  border-top-left-radius: var(--border-radius-filter); /* Закругление верхнего левого угла */
  border-top-right-radius: var(--border-radius-filter); /* Закругление верхнего правого угла */
  border: 1px solid var(--small-text);
  border-bottom: none;
}
.filter-price-inputs .filter-price-input {
  border-bottom: none;
  padding: 8px;
}
.filter-price-inputs .filter-price-input:not(:last-child) {
  border-right: 1px solid var(--small-text);
}
.filter-price-slider {
  position: relative;
  height: 4px;
  margin-top: -10px;
}
.filter-price-slider .filter-price-progress {
  position: absolute;
  height: 4px;
  background: var(--text-color-main);
  left: 0;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  pointer-events: none;
  z-index: 5;
}
.filter-price-slider .filter-price-progress--bg {
  position: absolute;
  height: 1px;
  background: var(--text-color-main);
  left: 0;
  right: 0;
  top: 50%;
  z-index: 2;
  width: 100%;
}
.filter-price-range {
  position: absolute;
  width: 100%;
  height: 4px;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
  z-index: 6;
  bottom: 6px;
  left: 0;
  margin: 0;
  padding: 0;
  border-radius: 20px;
}
.filter-price-range::-webkit-slider-thumb {
  height: 15px;
  width: 3px;
  border-radius: 50px;
  border: none;
  background: var(--text-color-main);
  pointer-events: auto;
  -webkit-appearance: none;
  cursor: pointer;
}
.filter-price-range::-moz-range-thumb {
  height: 15px;
  width: 3px;
  border-radius: 50px;
  border: none;
  background: var(--text-color-main);
  pointer-events: auto;
  -moz-appearance: none;
  cursor: pointer;
}
.filter-price-range::-webkit-slider-runnable-track {
  height: 4px;
  background: none;
}
.filter-price-range::-moz-range-track {
  height: 4px;
  background: none;
}

.filter-gender .gender-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 8px;
}
.filter-gender .gender-check-input {
  display: none;
}
.filter-gender .gender-check-input:checked + .gender-check-label::after {
  opacity: 1;
}
.filter-gender .gender-check-label {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}
.filter-gender .gender-check-label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 24px;
  height: 24px;
  border: 1px solid var(--small-text);
  border-radius: 4px;
  background-color: transparent;
}
.filter-gender .gender-check-label::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 15px;
  height: 12px;
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="15" height="12" fill="none" viewBox="0 0 15 12"%3E%3Cpath d="M5.625 11.186a.813.813 0 0 1-1.155 0L.33 6.951a.813.813 0 0 1 0-1.154L.86 4.83a.813.813 0 0 1 1.155 0l2.644 2.643L12.238.33a.813.813 0 0 1 1.155 0l.53.53a.813.813 0 0 1 0 1.156l-8.294 8.17Z" fill="%23DBBBA9"/%3E%3C/svg%3E');
  background-size: contain;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.filter-size-btns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.filter-size-input {
  display: none;
}
.filter-size-label {
  display: inline-block;
  text-align: center;
  padding: 8px 0;
  border: 1px solid var(--small-text);
  -webkit-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
  margin-right: -1px;
  margin-bottom: -1px;
}
.filter-size-label:hover {
  background-color: var(--small-text);
}
.filter-size-input:checked + .filter-size-label {
  background-color: var(--small-text);
  border-color: #fff;
}

.filter-buttons-apply {
  color: var(--text-color-light);
  background: var(--text-color-main);
}

.product-descr {
  margin-bottom: 5px;
}

.product-price {
  margin-bottom: 0;
  font-weight: 700;
  font-size: 20px;
}

@media (max-width: 630px) {
  .catalog-product {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.catalog-product-hover {
  position: relative;
  overflow: hidden;
}
.catalog-product-hover:hover::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.6);
  z-index: 1;
}
.catalog-product-hover .product-buttons {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: none;
  z-index: 2;
  gap: 10px;
}
.catalog-product-hover .product-buttons button {
  background: var(--text-color-main);
  border: none;
  width: clamp(40px, 10vw, 80px);
  height: clamp(40px, 10vw, 80px);
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.catalog-product-hover:hover .product-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.show-product {
  --bs-modal-width: 60% !important;
}
@media (max-width: 1470px) {
  .show-product {
    --bs-modal-width: 80% !important;
  }
}

.show-product-modal {
  padding: 20px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.show-product-modal-header .btn-close {
  position: absolute;
  right: 1%;
}
@media (max-width: 930px) {
  .show-product-modal .catalog-product {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.show-product-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.show-product-title .show-product-details {
  color: var(--gray);
}
.show-product-title .show-product-details span {
  color: var(--text-color-main);
}
.show-product-title h3 {
  font-weight: 400;
  line-height: 1.4;
}
.show-product-title .show-product-size-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
}
.show-product-title .show-product-size-button {
  border: 1px solid var(--gray);
  border-radius: 4px;
  padding: 5px 20px;
}
.show-product-title .show-product-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 20px;
}
.show-product-title .show-product-price p {
  margin: 0;
}
.show-product-title .show-product-price-main {
  font-family: var(--third-family);
  font-weight: 700;
  font-size: 30px;
  color: var(--text-color-main);
}
.show-product-title .show-product-price-old {
  color: var(--gray);
}

.about {
  position: relative;
}
.about ::before {
  position: absolute;
  z-index: -1;
  content: "";
  top: 0px;
  left: 0px;
  width: 550px;
  height: 424px;
  background-image: url(./../../assets/img/about/figure.svg);
  background-size: cover;
  background-repeat: no-repeat;
}
.about-content {
  max-width: 380px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.about-content-descr {
  font-size: 20px;
  font-weight: 700;
}
.about-content-descr--line {
  display: inline;
  width: 30px;
  height: 2px;
  background: var(--text-color-light);
}